<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="https://www.gravatar.com/avatar/94d093eda664addd6e450d7e98b8d08b?s=200&r=pg&d=mm" alt="avatar">
        <h2 class="color-primary">{{subject}}</h2>
        <hr/>
        <p>Hello
            {{name}},
        </p>
        <p>We received a request to reset your password. Please click the link below to proceed with resetting your password:</p>
        <a href="{{link}}" class="btn-link"> Reset Password</a>
        <h3 style="margin-bottom:50px">
            If you did not request this, please ignore this email.
        </h3>
        <hr/>
        <p>Regards,</p>
        <p><b>React Auth Kit</b>Team</p>
        <div style="font-size: 0.8rem;">
            If you’re having trouble clicking the "Reset Password" button, copy and paste the URL below into your web browser: <br/>
            <a href="{{link}}">{{link}}</a>
        </div>
    </div>
</body>
</html>